# En este Jupyter Notebook se va a crear y cargar la base de datos en MySQL mediante SQLalchemy

In [2]:
# !pip install sqlalchemy

In [1]:
# !pip install mysql-connector-python

In [17]:
from sqlalchemy import create_engine, Column, Integer, String, Date, ForeignKey
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import relationship
from datetime import datetime
import pandas as pd
from sqlalchemy.orm import sessionmaker
with open('pass/pass.txt', 'r') as file:
    password = file.read().strip()

# Creación de la base de datos en MySQL

In [7]:
Base = declarative_base()

# Crear la base de datos 'mad_flights2' si no existe
database_creation_sql = "CREATE DATABASE IF NOT EXISTS mad_flights2;"
engine_creation = create_engine(f'mysql+mysqlconnector://root:{password}@localhost:3306/')
with engine_creation.connect() as connection:
    connection.execute(database_creation_sql)

# Actualizar la URL de la base de datos con el nombre correcto
database_url = f'mysql+mysqlconnector://root:{password}@localhost:3306/mad_flights2'

# Crear la conexión al motor de la base de datos
engine = create_engine(database_url, echo=True)

class Metar(Base):
    __tablename__ = 'metars'

    Metar_id = Column(Integer, primary_key=True, autoincrement=True)
    Date_time = Column(Date, default=None, nullable=True)
    Day = Column(Date, default=None, nullable=True)
    Hour = Column(String(45), default=None, nullable=True)
    Condition = Column(String(45), default=None, nullable=True)
    Temperature = Column(Integer, default=None, nullable=True)
    Wind = Column(Integer, default=None, nullable=True)
    Gusts = Column(Integer, default=None, nullable=True)
    Relative_hum = Column(Integer, default=None, nullable=True)
    Pressure = Column(Integer, default=None, nullable=True)

class Flight(Base):
    __tablename__ = 'flights'

    departure_date_time = Column(Date, default=None, nullable=True)
    flight_id = Column(Integer, primary_key=True, autoincrement=True)
    metar_id = Column(Integer, ForeignKey('metars.Metar_id'))
    cod_flight_IATA = Column(String(45), default=None, nullable=True)
    cod_flight_ICAO = Column(String(45), default=None, nullable=True)
    day = Column(Date, default=None, nullable=True)
    week_day = Column(String(45), default=None, nullable=True)
    status = Column(String(45), default=None, nullable=True)
    airliner = Column(String(45), default=None, nullable=True)
    cod_airliner_IATA = Column(String(45), default=None, nullable=True)
    cod_airliner_ICAO = Column(String(45), default=None, nullable=True)
    Scheduled_dep = Column(String(45), default=None, nullable=True)
    depart_time = Column(String(45), default=None, nullable=True)
    dep_situation = Column(String(45), default=None, nullable=True)
    dep_mins_of_delay = Column(String(45), default=None, nullable=True)
    city = Column(String(45), default=None, nullable=True)
    cod_airport_IATA = Column(String(45), default=None, nullable=True)
    cod_airport_ICAO = Column(String(45), default=None, nullable=True)
    arrival = Column(String(45), default=None, nullable=True)
    arr_situation = Column(String(45), default=None, nullable=True)
    arr_mins_of_delay = Column(String(45), default=None, nullable=True)
    duration = Column(String(45), default=None, nullable=True)
    resta = Column(Integer, default=None, nullable=True)

    metar = relationship('Metar', back_populates='flights')

Metar.flights = relationship('Flight', back_populates='metar')

# Crear las tablas en la base de datos
Base.metadata.create_all(engine)

2023-11-30 12:05:13,680 INFO sqlalchemy.engine.Engine SHOW VARIABLES LIKE 'sql_mode'
2023-11-30 12:05:13,681 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-11-30 12:05:13,686 INFO sqlalchemy.engine.Engine SHOW VARIABLES LIKE 'lower_case_table_names'
2023-11-30 12:05:13,687 INFO sqlalchemy.engine.Engine [generated in 0.00157s] {}
2023-11-30 12:05:13,692 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-11-30 12:05:13,692 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-11-30 12:05:13,697 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-11-30 12:05:13,701 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2023-11-30 12:05:13,702 INFO sqlalchemy.engine.Engine [generated in 0.00191s] {'table_schema': 'mad_flights2', 'table_name': 'metars'}
2023-11-30 12:05:13,712 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2023-11-30 12:05:13,713 INFO sqlalchemy.engine.Engine [cached since 0.01265s ago] {'table_schema': 'mad_flights2', 'table_name': 'flights'}
2023-11-30 12:05:13,717 INFO sqlalchemy.engine.Engine
CREATE TABLE metars (
	`Metar_id` INTEGER NOT NULL AUTO_INCREMENT,
	`Date_time` DATE,
	`Day` DATE,
	`Hour` VARCHAR(45),
	`Condition` VARCHAR(45),
	`Temperature` INTEGER,
	`Wind` INTEGER,
	`Gusts` INTEGER,
	`Relative_hum` INTEGER,
	`Pressure` INTEGER,
	PRIMARY KEY (`Metar_id`)
)


2023-11-30 12:05:13,719 INFO sqlalchemy.engine.Engine [no key 0.00192s] {}
2023-11-30 12:05:13,781 INFO sqlalchemy.engine.Engine
CREATE TABLE flights (
	departure_date_time DATE,
	flight_id INTEGER NOT NULL AUTO_INCREMENT,
	metar_id INTEGER,
	`cod_flight_IATA` VARCHAR(45),
	`cod_flight_ICAO` VARCHAR(45),
	day DATE,
	week_day VARCHAR(45),
	status VARCHAR(45),
	airliner VARCHAR(45),
	`cod_airliner_IATA` VARCHAR(45),
	`cod_airliner_ICAO` VARCHAR(45),
	`Scheduled_dep` VARCHAR(45),
	depart_time VARCHAR(45),
	dep_situation VARCHAR(45),
	dep_mins_of_delay VARCHAR(45),
	city VARCHAR(45),
	`cod_airport_IATA` VARCHAR(45),
	`cod_airport_ICAO` VARCHAR(45),
	arrival VARCHAR(45),
	arr_situation VARCHAR(45),
	arr_mins_of_delay VARCHAR(45),
	duration VARCHAR(45),
	resta INTEGER,
	PRIMARY KEY (flight_id),
	FOREIGN KEY(metar_id) REFERENCES metars (`Metar_id`)
)


2023-11-30 12:05:13,783 INFO sqlalchemy.engine.Engine [no key 0.00156s] {}
2023-11-30 12:05:13,809 INFO sqlalchemy.engine.Engine COMMIT

# Carga de los datos en la tabla metars

In [26]:
# Rutas a tus archivos CSV
metars_csv_path = "../data/metars/metars_2017_2023.csv"


# Configuración de la base de datos
database_url = f'mysql+mysqlconnector://root:{password}@localhost:3306/mad_flights2'

# Crear el motor de la base de datos
engine = create_engine(database_url, echo=True)

# Cargar datos en la tabla 'metars'
metars_data = pd.read_csv(metars_csv_path)
metars_data.to_sql('metars', con=engine, if_exists='append', index=False)

# Carga de los datos en la tabla flights

In [25]:
# Ruta al archivo CSV
flights_csv_path = "../data/flights/flights_with_metarid.csv"

# Configuración de la base de datos
database_url = f'mysql+mysqlconnector://root:{password}@localhost:3306/mad_flights2'

# Crear el motor de la base de datos
engine = create_engine(database_url, connect_args={"connect_timeout": 300, "autocommit": True})

# Cargar datos en la tabla 'flights' en lotes más pequeños
chunksize = 100  # Puedes ajustar este valor según tus necesidades

# Crear un lector de CSV para iterar sobre lotes
csv_reader = pd.read_csv(flights_csv_path, chunksize=chunksize)

# Iterar sobre lotes e insertar en la base de datos
for i, chunk in enumerate(csv_reader):
    # Agregar lógica de procesamiento o limpieza si es necesario
    chunk.to_sql('flights', con=engine, if_exists='append', index=False)