In [1]:
import joblib
import pandas as pd

In [5]:
import sys
import time
import pandas as pd
import numpy as np
sys.path.append('../src')
from funpipes import *

In [6]:
fl = predecir_y_asignar_tipos_retraso(procesar_datos(scrape_flightera_data(), scrape_tutiempo_data()))
fl.head()

Extraction completed
Aceptado normas
Aceptadas cookies
Página cargada
Registros extraídos
Aceptado normas
Aceptadas cookies
View last 24h
Página cargada
Registros extraídos
Empezando prediciones
Pre-clasificación completada
Prediciones completadas

,status,cod_flight_IATA,week_day,week_num,cod_airliner_IATA,cod_airport_IATA,hour,duration,Condition,Temperature,Wind,day_time,acc_Gusts,acc_bad_weather,Delayed,Delay,Tipo
0,On Time,IB6653,Friday,49,IB,LIM,2023-12-07 00:20:00,12,Cloudy,9,12,Early Morning,0,9.0,1,38.025833,Tipo 2
1,On Time,AV47,Friday,49,AV,BOG,2023-12-07 00:35:00,10,Cloudy,9,12,Early Morning,0,9.0,1,70.355000,Tipo 3
2,On Time,LA2485,Friday,49,LA,LIM,2023-12-07 00:55:00,12,Cloudy,9,12,Early Morning,0,9.0,1,67.568000,Tipo 3
3,On Time,FR2015,Friday,49,FR,ACE,2023-12-07 05:45:00,2,Fair,9,20,Early Morning,0,9.0,1,80.668548,Tipo 3
4,On Time,AZ59,Friday,49,AZ,FCO,2023-12-07 05:50:00,2,Fair,9,20,Early Morning,0,9.0,1,53.918333,Tipo 2

In [14]:
fl_ant.tail()

,status,cod_flight_IATA,week_day,week_num,cod_airliner_IATA,cod_airport_IATA,hour,duration,Condition,Temperature,Wind,day_time,acc_Gusts,acc_bad_weather,Delayed,Delay,Tipo,day
391,On Time,IB6827,Thursday,49,IB,GRU,2023-12-06 23:55:00,11,Rain,9,11,Night,0,0.0,1,29.611667,Tipo 1,2023-12-07
392,On Time,IB6409,Thursday,49,IB,MEX,2023-12-06 23:55:00,12,Rain,9,11,Night,0,0.0,0,0.000000,Tipo 0,2023-12-07
393,On Time,IB6011,Thursday,49,IB,MVD,2023-12-06 23:59:00,13,Rain,9,11,Night,0,0.0,0,0.000000,Tipo 0,2023-12-07
394,On Time,IB6841,Thursday,49,IB,EZE,2023-12-06 23:59:00,13,Rain,9,11,Night,0,0.0,0,0.000000,Tipo 0,2023-12-07
395,On Time,IB6833,Thursday,49,IB,SCL,2023-12-06 23:59:00,13,Rain,9,11,Night,0,0.0,0,0.000000,Tipo 0,2023-12-07

In [10]:
fl.Tipo.value_counts()

Tipo 2    236
Tipo 3     69
Tipo 4     25
Tipo 1     24
Tipo 5      1
Name: Tipo, dtype: int64

In [18]:
fl['day'] = '2023-12-08'

In [19]:
fl_ant = pd.read_csv('../Streamlit/prediciones/prediciones_07_12_2023.csv')

In [20]:
fl_conc = pd.concat([fl_ant , fl])

In [21]:
fl_conc.to_csv("../Streamlit/prediciones/prediciones_07_12_2023.csv", index=False)